POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_THE_PASSWORD
POSTGRES_DB=in-memory-db
POSTGRES_HOST_PORT=5434

DATABASE_URL=postgresql://postgres:CHANGE_THE_PASSWORD@localhost:5434/in-memory-db

KV_ADDR=localhost:55555
API_PORT=8080
